.container_M {

	display: grid;
  padding: 3vw;
	grid-template-columns: 20vw 20vw 20vw 20vw;
	grid-template-rows: repeat(10, minmax(10vw, max-content));
	grid-gap: 4vw;
  background-color: #F8EDE1;
}

.header_M {
	grid-column: 1 / 5;

  width:95%; 
  height: 15vw;

  border-radius: 0.9vw;

  font-size: 10vw;
  margin: auto; 
  text-align: center;
  vertical-align: center;
  font-family: "Barlow", regular, ;
  font-weight: bold;
  color: #F8EDE1;
  background-color: #EC4A3B;
  /*background-image: linear-gradient(#F566E6, #F8EDE1);*/

  /*background-image: linear-gradient(#EC4A3B, #8D362C);*/

  /* GRADIENTS

  Pink-Blue: #ffa3d0, #11ddff
  darkBlue-Redisch: #204aff, #f40d3e
  Orange-Yellow: #ff5502, #ffd129
  Blue-Turquoise: #16ccfa, #0de6b9
  Lime-Yellow: #0cdfa4, #fde909
*/
}

.photo_M {

 
}

.name_M {
	text-align: center;
}

.prog_M{
  width:100%;

  background-color: white;
  border-radius: 30%;
  box-shadow: 0 0 0 3px white;
}



img.photo_M { /* kopplar med MatchMini.js */

    
    width:90%; 
    height: auto;
  	margin: 10px;
    box-shadow: 0 0 0 4px #262626;
    border-radius: 50% 1vw;

}

img.photo_M:hover {
  	opacity: 0.5;
  	cursor: pointer;
}

img.photo_M:active {
  	cursor: pointer;
  	transform: translateY(4px);
}

.back_M{
  grid-area: 2 / 1 / 3 / 2;

}
.back_M:hover {
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 1s;
    transition-duration: 0.5s;
}

.back_M:active {
    cursor: pointer;
    transform: translateY(4px);
    transition-duration: 0.5s;
}

img.back_M {
   padding-top: 1vw;
    max-width:100%;
    max-height:100%;
    height: auto;
    margin-left: 2vw;
}
