.container_M {

	display: grid;
  padding: 3vw;
	grid-template-columns: 20vw 20vw 20vw 20vw;
	grid-template-rows: repeat(10, minmax(10vw, max-content));
	grid-gap: 4vw;
  background-color: #EBEFF0;
}



.header_M {
	grid-column: 1 / 5;

  width:93vw; 
  height: 15vw;
  border-bottom: 5px solid grey;
  border-radius: 10px;

  font-size: 10vw;
  margin: auto; 
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;

  background-image: linear-gradient(#0cdfa4, #fde909);

  /* GRADIENTS

  Pink-Blue: #ffa3d0, #11ddff
  darkBlue-Redisch: #204aff, #f40d3e
  Orange-Yellow: #ff5502, #ffd129
  Blue-Turquoise: #16ccfa, #0de6b9
  Lime-Yellow: #0cdfa4, #fde909
*/
}

.photo_M {

 
}


.prog_M{
  width:100%;

  background-color: white;
  border-radius: 30%;
  box-shadow: 0 0 0 3px white;
}



img.photo_M { /* kopplar med MatchMini.js */

    
    width:90%; 
    height: auto;
    border-radius: 50%;
  	box-shadow: 0 0 0 10px white;
  	margin: 10px;

}



img.photo_M:hover {
  	opacity: 0.5;
  	cursor: pointer;
}

img.photo_M:active {
  	cursor: pointer;
  	transform: translateY(4px);
}
