
.container_Q {
	padding: 2%;
	display: grid;
	grid-template-columns: 9%  32%  32% 23%;;
	grid-template-rows: repeat(8, minmax(80px, max-content));
	grid-gap: 10px;
	background-color: #EBEFF0;
}

.header_Q {
	
	 grid-column: 1 / 5;
	 width: 93vw;
	 height: 15vw;
	 border-bottom: 5px solid grey;
	 border-radius: 10px;

	 font-size: 10vw;
	 margin: auto; 
	 text-align: center;
	 vertical-align: middle;
	 font-weight: bold;
	 color: #fff;

	 background-image: linear-gradient(#204aff, #f40d3e);

  /* GRADIENTS

  Pink-Blue: #ffa3d0, #11ddff
  darkBlue-Redisch: #204aff, #f40d3e
  Orange-Yellow: #ff5502, #ffd129
  Blue-Turquoise: #16ccfa, #0de6b9
  Lime-Yellow: #0cdfa4, #fde909
*/
}


.meme_Q{

	grid-area: 3 / 2 / 4 / 5;
	border-radius: 20px;
	width: 70vw;
	padding-left: 3vw;
	box-shadow: 10px white;
	
}


img.memePic_Q{

	grid-area: 3 / 2 / 4 / 5;
	border-radius: 20px;
	width: 70vw;
	box-shadow: 0 0 0 20px white;
}




.yes_Q{
	grid-area: 4 / 2 / 5 / 3;
	padding-left: 5vw;
	
}


.yes_Q:hover {
  	opacity: 0.5;
  	cursor: pointer;
}

.yes_Q:active {
  	cursor: pointer;
  	transform: translateY(4px);
}

.nope_Q{
	grid-area: 4 / 3 / 5 / 4;
	padding-left: 17vw;
}


.nope_Q:hover {
  	opacity: 0.5;
  	cursor: pointer;
}

.nope_Q:active {
  	cursor: pointer;
  	transform: translateY(4px);
}





.back_Q{
	grid-area: 2 / 1 / 3 / 2;
}
.back_Q:hover {
  	opacity: 0.5;
  	cursor: pointer;
}

.back_Q:active {
  	cursor: pointer;
  	transform: translateY(4px);
}





.prog_Q{
	grid-area: 2 / 2 / 2 / 2;
	background-color: #fff59d; /*yellow*/
	font-size: 200%;
}

img.back_Q {

    width:80%; 
    height: auto;
}