.result {
  position: relative;
  height: 1.6vw;
  border-radius: 30vw;
  width: 19vw;
  color: #68b4d3;
  background-color: transparent;
  z-index: 2;
  border: 0.7vw solid grey;


}

.resultBar {
  position: absolute;
  height: 1.7vw;
  border-radius: 30vw;

  /*background-image: url("result.png");*/


  background-image: linear-gradient(right, #0cdfa4, #fde909);

  /* GRADIENTS
  Pink-Blue: #ffa3d0, #11ddff
  darkBlue-Redisch: #204aff, #f40d3e
  Orange-Yellow: #ff5502, #ffd129
  Blue-Turquoise: #16ccfa, #0de6b9
  Lime-Yellow: #0cdfa4, #fde909
  ;
*/



  
  transition-duration: 1s;
  z-index: 1;

}
