
.container_W {

	display: grid;
  padding: 1vw;
	grid-template-areas: auto;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, minmax(10vw, max-content));
	grid-gap: 0.5vw;
  	

  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
 
}

.text_W{
	grid-area: 2/1/4/7;

	font-size: 10vw;
  	margin-left: 0.4vw; 
  	text-align: center;
  	vertical-align: center;
  	font-family: "Barlow", regular;
  	text-shadow: 2px 2px #262626;
  	font-weight: bold;
  	color: #F8EDE1;
}

.explain_W{
  font-size: 5vw;
  text-align: justify;
  margin-right: 4vw;
  margin-left: 4vw;
}

.ready_W{
  font-size: 7.5vw;
  text-align: center;
}

@keyframes example {
  0%   {background-color: #ff3228;}	/*red*/
  12.5%  {background-color: #ff8c11;} /*orange*/
  25%  {background-color: #ffe41c;} /*yellow*/ 
  37.5%  {background-color: #5ced23;} /*Green*/
  50%  {background-color: #28ef8f;} /*Teal*/
  62.5% {background-color: #21a2f2;} /*Blue*/
  75% {background-color: #6620f1;} /*indigo*/
  100% {background-color: #e31ff0;} /*Purple*/
}

.welcomeButton{
	width: 200%;
	grid-area: 4 / 3 / 6 / 4;
}

.welcomeButton:hover {
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcomeButton:active {
    cursor: pointer;
    transform: translateY(10px);
    transition-duration: 0.2s;
    opacity: 1;
    filter: brightness(60%);
}
